:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Allura", sans-serif;
    --third-family: "SF Pro", sans-serif;
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/static/Montserrat-Regular.ttf");
    src: url("./fonts/static/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Allura;
    src: url("./fonts/Allura/Allura-Regular.ttf");
}